<!doctype html>
<title>{{ title }}</title>
<section class="content">
    <header>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var jsonData = $.ajax({
                    url: "{{ data_url }}",
                    dataType: "json",
                    async: false
                }).responseText;

                // Create our data table out of JSON data loaded from server.
                var data = new google.visualization.DataTable(jsonData);

                var chart = new google.visualization.LineChart(document.getElementById('chart'));

                var options = {
                    lineWidth: 0,
                    pointSize: 3,
                };

                chart.draw(data, options);
            }
        </script>
        {% block header %}{% endblock %}
    </header>
    <h1>{{ content_title }}</h1>
</section>

<body>
    <div id="chart" style="width: 1200px; height: 600px"></div>
</body>