<!doctype html>
<html lang="en">
<title>{{ title }}</title>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart);

            function query_chart_data(measurement_type){
                return $.ajax({
                    url: "data?type=" + measurement_type,
                    dataType: "json",
                    async: false
                }).responseText;
            }

            function drawChart() {
                {% for plot in plots %}
                var jsonData_{{ plot.id }} = query_chart_data("{{ plot.measurement_type }}");

                // Create our data table out of JSON data loaded from server.
                var data_{{ plot.id }} = new google.visualization.DataTable(jsonData_{{ plot.id }});

                var chart_{{ plot.id }} = new google.visualization.LineChart(document.getElementById('chart_{{ plot.id }}'));

                var options = {
                    title:      '{{ plot.content_title }}',
                    lineWidth:  0,
                    pointSize:  3,
                    width:      600,
                    height:     300,
                    legend:     'none',
                    chartArea: {'width': '100%', 'height': '80%'},
                };

                chart_{{ plot.id }}.draw(data_{{ plot.id }}, options);
                {% endfor %}
            }
        </script>
        {% block header %}{% endblock %}
    </head>

</section>

<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sensor Dashboard</a>
</nav>

<center>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm" style="padding: 20px"><div id="chart_1"></div></div>
            <div class="col-sm" style="padding: 20px"><div id="chart_2"></div></div>
        </div>
        <div class="row">
            <div class="col-sm" style="padding: 20px"><div id="chart_3"></div></div>
            <div class="col-sm" style="padding: 20px"><div id="chart_4"></div></div>
        </div>
    </div>
</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>